<!DOCTYPE html>
<html data-ng-app="smartlist">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title>SmartList</title>

        <link href="/resources/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
        <link href="/resources/css/font-awesome.min.css" type="text/css" rel="stylesheet" >
        <link href="/resources/css/application.css" type="text/css" rel="stylesheet">

        <script src="/resources/js/angular.min.js"></script>
        <script src="/resources/js/globals.js"></script>
        <script src="/resources/js/peg.min.js"></script>
        <script src="/resources/js/application.js"></script>
        <script src="/resources/js/main.js"></script>
    </head>

    <body data-ng-controller="appController" data-dynamic-list="newTodos">
        <div class="header">
            <h1>SmartList</h1>
        </div>
        <ul class="filters">
            <li data-ng-show="todos.length > 0"><a>Tout</a> (<span data-ng-bind="todos.length"></span>)</a></li>
            <li data-ng-show="(todos | filter:isCall).length > 0"><a><i class="icon-phone"></i></a> (<span data-ng-bind="(todos | filter:isCall).length"></span>)</li>
            <li data-ng-show="(todos | filter:isBuy).length > 0"><a><i class="icon-money"></i></a> (<span data-ng-bind="(todos | filter:isBuy).length"></span>)</li>
        </ul>
        <div style="clear:both;"></div>
        <ul data-ng-repeat="element in todos" class="todo">
            <li>
                <i data-ng-class="'icon-' + element.action.type.icon"></i> 
                <span data-ng-bind="element.action.parsedText" data-ng-show="element.action.parsedText"></span>
                <span data-ng-bind="element.fullText" data-ng-hide="element.action.parsedText"></span>
                <a data-ng-click="deleteAction(element);"><i class="icon-trash"></i></a>
            </li>
        </ul>
        <div data-ng-repeat="element in newTodos">
            <form data-ng-submit="registerAction(element);">
                <i data-ng-class="'icon-' + element.action.type.icon"></i>
                <span data-ng-bind="element.action.parsedText" data-ng-show="element.action.type" data-ng-animate="'fadeup'"></span><br>
                <input data-ng-model="element.fullText" data-grammar-listener="{ dest: element}">
                <div class="suggestions">
                    <a data-ng-repeat="suggestion in element.suggestions" data-ng-bind="suggestion.name" data-ng-click="affectContact(element, suggestion)"> </a>
                </div>
            </form>
        </div>
        <!--<button data-ng-click="addElement();"><i class="icon-plus"></i> New </button>-->
    </body>
    <!--<script>

    var gManifestName = "/manifest.webapp";

    $(document).ready(function() {
      var request = navigator.mozApps.getSelf();
        request.onsuccess = function() {
          if (request.result) {
            // we're installed
            $("#install_button").text("INSTALLED!").show();
          } else {
            // not installed
            $("#install_button").show();
                $("#install_button").click(function() {
            var req = navigator.mozApps.install(gManifestName);
            req.onsuccess = function() {
                        $("#install_button").text("INSTALLED!").unbind('click');
                    }
            req.onerror = function(errObj) {
                        alert("Couldn't install (" + errObj.code + ") " + errObj.message);
                    }
                });
          }
        }
        request.onerror = function() {
          alert('Error checking installation status: ' + this.error.message);
        }
    });

    </script>-->

</html>
