<!DOCTYPE html>
<html data-ng-app="smartlist">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title>SmartList</title>

        <link href="/resources/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
        <link href="/resources/css/font-awesome.min.css" type="text/css" rel="stylesheet" >
        <link href="/resources/css/application.css" type="text/css" rel="stylesheet">

        <script src="/resources/js/angular.min.js"></script>
        <script src="/resources/js/globals.js"></script>
        <script src="/resources/js/peg.min.js"></script>
        <script src="/resources/js/application.js"></script>
        <script src="/resources/js/main.js"></script>
    </head>

    <body data-ng-controller="appController" data-dynamic-list="newTodos">
        <ul class="filters">
            <li data-ng-show="todos.length > 0">all</li>
            <li data-ng-show="(todos | filter:action.type.id === 0).length > 0">calls</li>
            <li data-ng-show="(todos | filter:action.type.id === 1).length > 0">buys</li>
        </ul>
        <div data-ng-repeat="element in todos">
            <span data-ng-bind="element.fullText"></span>
            <a data-ng-click="deleteAction(element);"><i class="icon-trash"></i></a>
        </div>
        <div data-ng-repeat="element in newTodos">
            <div
                class="tip"
                data-ng-show="element.action.type.humanPattern"
                data-ng-bind="element.action.type.humanPattern">
            </div>
            <form>
                <input data-focusout="registerAction(element);" data-ng-model="element.fullText" data-grammar-listener="{ dest: element}">
            </form>
        </div>
        <button data-ng-click="addElement();"><i class="icon-plus"></i> New </button>
    </body>
    <!--<script>

    var gManifestName = "/manifest.webapp";

    $(document).ready(function() {
      var request = navigator.mozApps.getSelf();
        request.onsuccess = function() {
          if (request.result) {
            // we're installed
            $("#install_button").text("INSTALLED!").show();
          } else {
            // not installed
            $("#install_button").show();
                $("#install_button").click(function() {
            var req = navigator.mozApps.install(gManifestName);
            req.onsuccess = function() {
                        $("#install_button").text("INSTALLED!").unbind('click');
                    }
            req.onerror = function(errObj) {
                        alert("Couldn't install (" + errObj.code + ") " + errObj.message);
                    }
                });
          }
        }
        request.onerror = function() {
          alert('Error checking installation status: ' + this.error.message);
        }
    });

    </script>-->

</html>
